{% extends "layout.html" %}

{% block title %}
Smart forms
{% endblock %}

{% block body %}
<div class="container">
  <form action="{{ url_for('smartform') }}" method="post">
    <button class="btn btn-primary" type="submit"> Create new smart form </button>
  </form>
  <br>
  <div class="alert alert-info" role="alert">
    <strong>List of Existing Smart forms :</strong>
  </div>
  {% if forms is none %}
  <div class="alert alert-warning" role="alert" id="errormsg">
    Wow, looks like there are currently no smart forms in the system. You have the pleasure of creating the verty first one. Go for it!
  </div>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Fields</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for formdata in forms %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ formdata.type }}</td>
        <td>
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Field Name</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              {% for field in formdata.fields %}
              <tr>
                <td>{{ field.name }}</td>
                <td>{{ field.value }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </td>
        <td><a href="{{ url_for('deleteform', id=formdata.id) }}" class="btn btn-danger active" role="button" aria-pressed="true">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='smartform.js') }}"></script>

{% endblock %}